<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Remember' Board</title>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="../../dist/bundle.js"></script>
    </head>
    <body id="body-board">
        <header>
            <button id="logout-btn">Se déconnecter</button>
            <h1>Remember'</h1>
        </header>
        <main>
            <div id="board">
                <div id="todo-list" class="list">
                    <h2>TODO</h2>
                    <button class="add-task-btn">Add Task</button>
                    <div class="task-container" id="TODO"></div>
                </div>
                <div id="doing-list" class="list">
                    <h2>DOING</h2>
                    <button class="add-task-btn">Add Task</button>
                    <div class="task-container" id="DOING"></div>
                </div>
                <div id="do-list" class="list">
                    <h2>DO</h2>
                    <button class="add-task-btn">Add Task</button>
                    <div class="task-container" id="DO"></div>
                </div>
            </div>
        </main>
    </body>
</html>