<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>S'incrire</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../../dist/bundle.js"></script>
  </head>
  <body id="body-register">
    <div class="container-form" style="display: none;">
      <h1>S'inscrire</h1>
      <form action="" id="signup-form">
        <label for="email">Email : </label>
        <input type="email" id="email" required />
        <label for="password">Mot de passe</label>
        <input type="password" id="password" required />
        <button type="submit">S'inscrire</button>
        <div class="no-account" onclick="changeView('login')">Déjà un compte ? connectez-vous</div>
      </form>
    </div>

    <div id="alert-container" class="alert-container" style="display: none">
      <div class="alert-box">
        <span class="alert-message"></span>
      </div>
    </div>
  </body>
</html>
